h1 {
    font-family: 'Lexend SemiBold', sans-serif;
    font-weight: 500;
    font-size: x-large;
  }

p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: small;
    
}

h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: medium;
  
}

  
.landing-page {
  text-align: right;
  padding: 20px;
  grid-column: landing-p;
  color: white;
  
}

.neumorphic-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2),
              -4px -4px 10px rgba(255, 255, 255, 0.7);
}



/* Original typography and button styles outside of media query */

@media (max-width: 500px) and (min-height: 740px) {
  h1 {
    font-size: 24px; /* Adjust font size for smaller screens */
  }

  p {
    font-size: x-small; /* Adjust font size for smaller screens */
  }

  h3 {
    font-size: small; /* Adjust font size for smaller screens */
  }

  .landing-page {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .neumorphic-button {
    padding: 8px 16px; /* Adjust padding for smaller screens */
    border-radius: 8px; /* Adjust border radius for smaller screens */
  }
}

