.App {
  text-align: center;
  height: 300vh;
  background-color: #000502;
  display: grid;
  grid-template-rows:[landing] 100vh [slidingim] 100vh [contactus];
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url('./assets/web5_0001.png');
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  background-image: url('./assets/web5_0001.png');
  background-color: rgba(138, 43, 226, 0.5); /* Violet color with 50% opacity */
  height: 750px ;
  grid-row: landing;
 
}

.overlay1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 80%;
  background-color: rgba(242, 242, 242, 0.3); /* Pink color with 50% opacity */
  margin-top: 70px;
  margin-bottom: 50px;
  margin-left: 90px;
  margin-right: 30px;
  display: grid;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
              -5px -5px 10px rgba(255, 255, 255, 0.7);
  grid-template-rows: [nav] 65px [empty] 160px [desc] auto ;
  grid-template-columns:[left] 400px [right] auto;
  backdrop-filter: blur(12px);
}

.topline{
  
  grid-row:nav;
  grid-column: right;

}

.middleline{
  
  grid-row: empty;
  grid-column: right;

}

.bottomline{
  background-image: url('./assets/web5_0001.png');
  
  grid-row: desc;
  grid-column: right;
  display: grid;
  grid-template-columns: [blank] 460px [landing-p] auto;

}

.logodiv{

  grid-row: nav;
  grid-column: left;
  padding-top: 20px;

}

.slidingim{
  background-color: rgba(1, 19, 12, 0.322); 
  
  display: grid;
  grid-row: slidingim;
  



}

.contactus{
  grid-row: contactus;
}

.mainimages{
  
  top: 0;
  left: 0;
  width: 90%;
  height: 80%;
  grid-column: slide1;
  background-color: rgba(242, 242, 242, 0.3); /* Pink color with 50% opacity */
  margin-top: 70px;
  margin-bottom: 50px;
  margin-left: 90px;
  margin-right: 30px;
  display: grid;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
              -5px -5px 10px rgba(255, 255, 255, 0.7);

  backdrop-filter: blur(12px);
  max-height: 90vh;

}

.mainimages2{
  
  top: 0;
  left: 0;
  width: 90%;
  height: 80%;
  grid-column: slide2;
  background-color: rgba(242, 242, 242, 0.3); /* Pink color with 50% opacity */
  margin-top: 70px;
  margin-bottom: 50px;
  margin-left: 90px;
  margin-right: 30px;
  display: grid;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
              -5px -5px 10px rgba(255, 255, 255, 0.7);

  backdrop-filter: blur(12px);

}